/* This is the CSS page that I created to add to the Bootstrap CSS */

/*
Color Palette

** https://flatuicolors.com/palette/us 
** https://flatuicolors.com/palette/defo - Flat UI Palette
*/

.main_title_top {
	font-family: 'Homemade Apple', cursive;
	font-size: 24px;
	letter-spacing: 2px;
}

.main_title {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	letter-spacing: 6px;
}

.main_page_btn {
	color: #fff;
}

/*
.img_filler {
	width: 20%;
	height: 20%;
}
*/

.my_accordion_style {
	width: 50%;
	margin: auto;
}

.my_card_header_1 {
	background-color: #283350;
}

.my_card_header_2 {
	background-color: #FFB500;	
}

.my_card_header_3 {
	background-color: #F93800;
}








