/* This is the CSS page that I created to add to the Bootstrap CSS */

/*
Color Palette

** https://flatuicolors.com/palette/us 
** https://flatuicolors.com/palette/defo - Flat UI Palette
*/

.main_title_top {
	font-family: 'Homemade Apple', cursive;
	font-size: 24px;
	letter-spacing: 2px;
}

.main_title {
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	letter-spacing: 6px;
}

.main_page_btn {
	color: #FFF;
}

/*
.img_filler {
	width: 20%;
	height: 20%;
}
*/

.my_accordion_style {
	width: 50%;
	margin: auto;
}

.my_button_1, .my_button_2, .my_button_3 {
	color: #FFF;
	background-color: #283350;
}

.my_button_1:hover, .my_button_2:hover, .my_button_3:hover{
	color: #5BC0DE;
}

.my_card_header_1, .my_card_header_2, .my_card_header_3 {
	background-color: #283350;
}












